// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;

// TEXT FIELD COLOR
$textfield: #96B0D3;

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    body {
        background-color: $background;
        // sidebar
        .sidebar {
            background-color: $darkblue;
            width: 280px;
            height: 100vh;
            padding: 20px 0;
            position: fixed;
            top: 0;
            left: 0;
            transition: all 0.5s ease-in;
            .header {
                text-align: center;
                margin: 20px;
                h2 {
                    color: white;
                    padding-bottom: 30px;
                }
                img {
                    width: 120px;
                    height: 120px;
                }
            }
            .menu {
                padding-top: 40px;
                padding-left: 40px;
                ul {
                    li {
                        a {
                            padding-left: 10px;
                            font-size: 25px;
                            color: white;
                            text-decoration: none;
                            line-height: 70px;
                            .icon {
                                img {
                                    top: 5px;
                                    width: 25px;
                                    display: inline-block;
                                }
                            }
                            .check {
                                // background-color: red;
                                height: 20px;
                                img {
                                    width: 25px;
                                    // height: 35px;
                                }
                            }
                        }
                    }
                }
            }
            .logoutbutton {
                padding-top: 100px;
                height: 20px;
                text-align: center;
                .logout {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: white;
                    border: none;
                    font-weight: bold;
                    a {
                        color: $darkblue;
                    }
                }
            }
        }
        .page {
            // background-color: red;
            height: 100vh;
            width: 100%;
            padding-top: 70px;
            line-height: 40px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
                h1 {
                    color: $textfield;
                    font-size: 3.5rem;
                    padding-bottom: 100px;
                }
                .apptbox {
                    background-color: $textfield;
                    width: 900px;
                    height: 650px;
                    border-radius: 5px;
                    line-height: 40px;
                    padding: 40px 20px;
                    // For everyfield
                    .phoneentry {
                        // background-color: aqua;
                        display: flex;
                        padding-bottom: 10px;
                        padding-top: 20px;
                        // padding-right: 30rem;
                        // ALL the Titles
                        .title {
                            color: $darkblue;
                            font-weight: bold;
                            font-size: 2.5vh;
                        }
                        // ALL the inputs
                        .inputfield {
                            // background-color: red;
                            display: flex;
                            #name {
                                padding-right: 3.6rem;
                            }
                            #phone {
                                // move it over to the left
                                // background-color: red;
                                padding-right: 5.3rem;
                            }
                            input {
                                border: none;
                                background-color: $textfield;
                                color: $darkblue;
                                font-size: 2.3vh;
                                width: 790px ;
                                text-align: center;
                                margin: 0 auto;
                                padding-right: 48px;
                            }
                            input:focus {
                                background-color: $textfield;
                                color: $darkblue;
                                background-color: transparent;
                                appearance: none;
                                border: none;
                                outline: none; 
                            }
                            input:-webkit-autofill,
                            input:-webkit-autofill:hover,
                            input:-webkit-autofill:focus {
                                border: none;
                                -webkit-text-fill-color: $darkblue;
                                -webkit-box-shadow: 0 0 10px 1000px $textfield inset;
                                transition: background-color 5000s ease-in-out 2s;
                                font-size: 2.3vh;
                            }
                            input:-webkit-autofill::first-line {
                                font-size: 2.3vh;
                            }
                        }
                    }
                    .phonedate {
                        padding-top: 5px;
                        padding-left: 300px; 
                        // background-color: green;
                        // display: flex;
                        // justify-content: space-between;
                        // align-content: center;
                        // padding-right: 23rem;
                        // padding-bottom: 8px;
                        // padding-top: 30px;
                        // Date label
                        select {
                            cursor: pointer;
                            appearance: none;
                        }
                        select:focus{
                            outline: none;
                        }
                        #date {
                            border: none;
                            font-size: 1.5rem;
                            font-weight: bold;
                            background-color: $textfield;
                            color: $darkblue;
                            text-align: center;
                        }
                    }
                    // the TIME section
                    #timebuttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        padding: 10px 10px 5px 90px;
                        .input-container {
                            position: relative;
                            width: 90px;
                            height: 30px;
                            border-radius: 5px;
                            border: none;
                            cursor: pointer;
                            background-color: $darkblue;
                            // color: $textfield;
                            input {
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                margin: 0;
                                cursor: pointer;
                                z-index: 2;
                                opacity: 0;
                            }
                            input[type="radio"]{
                                display: inline-block;
                                position: absolute;
                                left: 10px;
                                opacity: 0;
                                color: $textfield;
                            }
                            .radio-tile {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                transition: all 300s ease;
                                label {
                                    color: $textfield;
                                }
                            }
                        }
                    }
                    hr {
                        height: 2px;
                        background-color: $darkblue;
                        border: none;
                    } 
                    // The Submit Button Section
                    .buttondiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 230px;
                        // background-color: green;
                        padding-top: 100px;
                        padding-bottom: 20px;
                        padding-left: 5px;
                        .calendar {
                            // background-color: red;
                            .back {
                                padding: 80px 190px 0px 0px;
                                a {
                                    color: $darkblue;
                                    font-size: 2.1vh;
                                }
                            }
                        }
                        .subbutton {
                            // background-color: green;
                            button {
                                background-color: $darkblue;
                                border: none;
                                // border: 1px $darkblue solid;
                                border-radius: 50%;
                                width: 120px;
                                height: 120px;
                                color: $textfield;
                                font-weight: bold;
                                font-size: 1.3rem;
                                cursor: pointer;
                            }
                        }
                        .list {
                            // background-color: blue;
                            .callslist {
                                padding: 80px 0px 0px 150px;
                                a {
                                    color: $darkblue;
                                    font-size: 2.1vh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}