// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;

// TEXT FIELD COLOR
$textfield: #96B0D3;

// TOPIC COLOR
$topicgreen: #296124;

// TIME COLOR
$timeblue: #2572C6;


* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    // background-color: $background;
    body {
        height: 100vh;
        background-color: $background;
              // PAGE PART
        // Put this in a container and center it
        .container {
            // background-color: yellow;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .page {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;
                padding-left: 200px;
                line-height: 40px;
                text-align: center;
                margin: 0px 0px 50px 0px;
                // background-color: blue;
                    h1 {
                        color: $textfield;
                        font-size: 3.5rem;
                        padding-bottom: 80px;
                        margin: auto;
                        // padding-right: 20px;
                    }
                    // HERE is where you want the frame
                    .outline {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid $darkblue;
                        border-radius: 5px;
                        // background-color: aqua;
                        margin: auto;
                        height: 650px;
                        padding: 40px;
                        .calls {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            // align-items: center;
                            padding: 20px 30px 0px 0px;
                            // HERE SET THE HEIGHT FOR THE SCROLLBAR EFFECT
                            height: 550px;
                            // ADD A SCROLLAR FEATURE TO THIS DIV
                            overflow-y: scroll;
                            // Here is where you place the zoom call list items
                            // background-color: yellow;
                            #call_items {
                                display: flex;
                                background-color: $textfield;
                                padding: 2rem;
                                margin-bottom: 2rem;
                                transition: all .3s ease-in;
                                border-radius: 5px;
                                // height: 100px;
                                #content {
                                    width: 100%;
                                    input {
                                        background-color: $textfield;
                                        border: none;
                                        text-align: center;
                                    }
                                    input:focus {
                                        background-color: $textfield;
                                        appearance: none;
                                        border: none;
                                        outline: none;
                                        text-align: center;
                                    }
                                    #phonename {
                                        color: $darkblue;
                                        font-weight: bold;
                                        font-size: 1.3rem;
                                        width: 220px;
                                        margin: auto;
                                    }
                                    #phonedate {
                                        color: $darkblue;
                                        font-size: 1.1rem;
                                        width: 120px;
                                        margin: auto;
                                        // background-color: yellow;
                                    }
                                    #phonetime {
                                        color: $timeblue;
                                        font-size: 1.1rem;
                                        width: 120px;
                                        margin: auto;
                                    }
                                    #phonenumber {
                                        color: $darkblue;
                                        font-size: 1.1rem;
                                        width: 180px;
                                        margin: auto;
                                    }
                                    #phonetopic {
                                        color: $topicgreen;
                                        // font-weight: bold;
                                        font-size: 1.2rem;
                                        width: 225px;
                                        // margin: auto;
                                    }
                                }
                            }
                        }
                        // Phone Buttons
                        .buttons {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 5px;
                            margin-left: 40px;
                            gap: 5px;
                            // background-color: lightgreen;
                            .deletediv {
                                // background-color: lightblue;
                                .deletebutton {
                                    cursor: pointer;
                                    width: 33px;
                                    height: 30px;
                                    border: none;
                                }
                            }
                            .editdiv {
                                // background-color: lightcoral;
                                .editbutton {
                                    cursor: pointer;
                                    width: 32px;
                                    height: 30px;
                                    border: none;
                                }
                            }
                            // .delete {
                            //     cursor: pointer;
                            //     width: 30px;
                            //     height: 30px;
                            //     border: none;
                            //     // background-color: blue;
                            //     // margin-top: 15px;
                            //     // width: 30px;
                            //     // height: 30px;
                            //     // border-radius: 50px;
                            //     // border: none;
                            //     // font-size: 10px;
                            //     // color: $darkblue;
                            // }
                            // .edit {
                            //     cursor: pointer;
                            //     width: 30px;
                            //     height: 30px;
                            //     border: none;
                            //     // width: 28px;
                            //     // height: 25px;
                            //     // margin-bottom: 70px;
                            //     // border: none;
                            //     // font-size: 10px;
                            //     // background-color: $textfield;
                            //     // color: $darkblue;
                            // }
                        }
                        // zooms scrollbar
                        .calls::-webkit-scrollbar {
                            // background-color: $textfield;
                            border: 1px solid $textfield;
                            border-radius: 10px;
                        }
                        .calls::-webkit-scrollbar-thumb {
                            background: $textfield;
                            // background: white;
                            border: 1px $textfield solid;
                            border-radius: 10px;
                        }
                        .settings {
                            display: flex;
                            width: 100%;
                            // background-color: #6cce63;
                            justify-content: right;
                            padding: 15px 50px 0px 0px;
                            #gear{
                                // background-color: aqua;
                                height: 40px;
                                padding: 5px 5px 5px 0px;
                                img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                            a {
                            color: $darkblue;
                            font-weight: bold;
                            font-size: 1.3rem;
                            }
                        }                
                    
                }
                    
            }
        }
        .sidebar {
            background-color: $darkblue;
            width: 280px;
            height: 100vh;
            padding: 20px 0;
            position: fixed;
            top: 0;
            left: 0;
            transition: all 0.5 ease-in;
            .header {
                text-align: center;
                margin: 20px;
                h2 {
                    color: white;
                    padding-bottom: 30px;
                }
                img {
                    width: 120px;
                    height: 120px;
                }
            }
            .menu {
                padding-top: 50px;
                padding-left: 40px;
                ul {
                    li {
                        a {
                            padding-left: 10px;
                            font-size: 25px;
                            color: white;
                            text-decoration: none;
                            line-height: 70px;
                            .icon {
                                img {
                                    top: 5px;
                                    width: 25px;
                                    display: inline-block;
                                }
                            }
                            .check {
                                height: 20px;
                                img {
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .logoutbutton {
                padding-top: 100px;
                height: 20px;
                text-align: center;
                .logout {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: white;
                    border: none;
                    font-weight: bold;
                    a {
                        color: $darkblue;
                    }
                }
            }
        }
        
        // .container {
        //     display: flex;
        //     flex-direction: column;
        //     // justify-content: center;
        //     align-items: center;
        //     border: 1px double dodgerblue;
        //     height: 100vh;
        //     // width: 100%;
        //     h1{
        //         color: $textfield;
        //         padding-bottom: 50px;
        //         padding-right: 50px;
        //         font-size: 3rem;
        //         text-align: center;
        //         width: 100%;
        //     }
        //     // The div with title and inputs in it
        //     .page {
        //         border: 2px dotted darkgreen;
        //         border-radius: 5px;
        //         padding: 30px;
        //         display: flex;
        //         flex-direction: column;
        //         gap: 30px;
        //         // BELOW outlines the calls list
        //         .outline {
        //             border: 2px solid black;
        //             border-radius: 5px;
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             height: 650px;
        //             padding: 40px;
        //             // NEXT the calls
        //                 // the screen within the frame
        //             .calls {
        //                 border: 1px double red;
        //                 border-radius: 5px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: 30px;
        //                 width: 100%;
        //                 height: 550px;
        //                 overflow-y: scroll;
        //                 // NEXT the actuall call_items
        //                     // blocks w/content in them
        //                 #call_items {
        //                     display: flex;
        //                     justify-content: center;
        //                     align-items: center;
        //                     background-color: $textfield;
        //                     border-radius: 5px;
        //                     padding: 2rem;
        //                     margin-bottom: 2rem;
        //                     transition: all .3s ease-in;
        //                     #content {
        //                         width: 100%;
        //                         input {
        //                             font-size: 1.1rem;
        //                             background-color: $textfield;
        //                             border: none;
        //                             color: $darkblue;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}