@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* body {
  height: 100vh;
  background-color: #F3F9FF;
}
* body .container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* body .container .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 200px;
  line-height: 40px;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
* body .container .page h1 {
  color: #96B0D3;
  font-size: 3.5rem;
  padding-bottom: 80px;
  margin: auto;
}
* body .container .page .outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #243F67;
  border-radius: 5px;
  margin: auto;
  height: 650px;
  padding: 40px;
}
* body .container .page .outline .calls {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px 0px 0px;
  height: 550px;
  overflow-y: scroll;
}
* body .container .page .outline .calls #call_items {
  display: flex;
  background-color: #96B0D3;
  padding: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}
* body .container .page .outline .calls #call_items #content {
  width: 100%;
}
* body .container .page .outline .calls #call_items #content input {
  background-color: #96B0D3;
  border: none;
  text-align: center;
}
* body .container .page .outline .calls #call_items #content input:focus {
  background-color: #96B0D3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  text-align: center;
}
* body .container .page .outline .calls #call_items #content #phonename {
  color: #243F67;
  font-weight: bold;
  font-size: 1.3rem;
  width: 220px;
  margin: auto;
}
* body .container .page .outline .calls #call_items #content #phonedate {
  color: #243F67;
  font-size: 1.1rem;
  width: 120px;
  margin: auto;
}
* body .container .page .outline .calls #call_items #content #phonetime {
  color: #2572C6;
  font-size: 1.1rem;
  width: 120px;
  margin: auto;
}
* body .container .page .outline .calls #call_items #content #phonenumber {
  color: #243F67;
  font-size: 1.1rem;
  width: 180px;
  margin: auto;
}
* body .container .page .outline .calls #call_items #content #phonetopic {
  color: #296124;
  font-size: 1.2rem;
  width: 225px;
}
* body .container .page .outline .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 40px;
  gap: 5px;
}
* body .container .page .outline .buttons .deletediv .deletebutton {
  cursor: pointer;
  width: 33px;
  height: 30px;
  border: none;
}
* body .container .page .outline .buttons .editdiv .editbutton {
  cursor: pointer;
  width: 32px;
  height: 30px;
  border: none;
}
* body .container .page .outline .calls::-webkit-scrollbar {
  border: 1px solid #96B0D3;
  border-radius: 10px;
}
* body .container .page .outline .calls::-webkit-scrollbar-thumb {
  background: #96B0D3;
  border: 1px #96B0D3 solid;
  border-radius: 10px;
}
* body .container .page .outline .settings {
  display: flex;
  width: 100%;
  justify-content: right;
  padding: 15px 50px 0px 0px;
}
* body .container .page .outline .settings #gear {
  height: 40px;
  padding: 5px 5px 5px 0px;
}
* body .container .page .outline .settings #gear img {
  width: 25px;
  height: 25px;
}
* body .container .page .outline .settings a {
  color: #243F67;
  font-weight: bold;
  font-size: 1.3rem;
}
* body .sidebar {
  background-color: #243F67;
  width: 280px;
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5 ease-in;
}
* body .sidebar .header {
  text-align: center;
  margin: 20px;
}
* body .sidebar .header h2 {
  color: white;
  padding-bottom: 30px;
}
* body .sidebar .header img {
  width: 120px;
  height: 120px;
}
* body .sidebar .menu {
  padding-top: 50px;
  padding-left: 40px;
}
* body .sidebar .menu ul li a {
  padding-left: 10px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  line-height: 70px;
}
* body .sidebar .menu ul li a .icon img {
  top: 5px;
  width: 25px;
  display: inline-block;
}
* body .sidebar .menu ul li a .check {
  height: 20px;
}
* body .sidebar .menu ul li a .check img {
  width: 25px;
}
* body .sidebar .logoutbutton {
  padding-top: 100px;
  height: 20px;
  text-align: center;
}
* body .sidebar .logoutbutton .logout {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  border: none;
  font-weight: bold;
}
* body .sidebar .logoutbutton .logout a {
  color: #243F67;
}/*# sourceMappingURL=phonecalllist.css.map */